@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .bg-hotel {
    background: rgba(0, 0, 0, 0.1) url("/images/malba2.webp");
    background-blend-mode: darken;
    background-position: center center;
    background-size: cover;
  }
  .odkaz {
    @apply text-gray-600 underline underline-offset-2 decoration-gray-400;
  }
  .hadvojka {
    @apply mx-auto text-center text-5xl md:text-7xl font-bold;
    /* color: #003631; */
  }
  .darkRow {
    @apply text-gray-800;
  }
  .lightRow {
    @apply text-gray-200;
  }
}
.bg-kartaVyhod {
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6),
    /* rgba(0, 0, 0, 0.05), */ /* rgba(198, 144, 36, 0.2) */
      rgba(255, 255, 255, 0.7)
  );
}
.test {
  background-image: url("/images/malba/4.webp");
  background-position: center center;
  background-size: cover;
}
.test2 {
  background-image: url("/images/malba/2.webp");
  background-position: center center;
  background-size: cover;
}
.test3 {
  background-image: url("/images/test3.webp");
  background-position: center center;
  background-size: cover;
}
.test4 {
  background-image: url("/images/malba/3.webp");
  background-position: center center;
  background-size: cover;
}
.test5 {
  background-image: url("/images/4.webp");
  background-position: center center;
  background-size: cover;
}
