@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .bg-hotel {
    background: rgba(0, 0, 0, 0.08) url("/images/malba/malba2.webp");
    background-blend-mode: darken;
    background-position: center center;
    background-size: cover;
  }
  .odkaz {
    @apply text-gray-600 underline underline-offset-2 decoration-gray-400;
  }
  .hadvojka {
    @apply mx-auto text-3xl font-bold text-center md:text-6xl;
    font-family: "Yeseva One", serif !important;
    font-weight: 400;
    font-style: normal;
    /* color: #003631; */
  }
  .peknyPismo {
    font-family: "Yeseva One", serif !important;
    font-weight: 400;
    font-style: normal;
  }
  .darkRow {
    @apply text-gray-800;
  }
  .lightRow {
    @apply text-gray-200;
  }
  .rowUbrus {
    background: url("/ubrus2.png");
    background-size: 100px !important;
  }
  .ubrusOdsazeni {
    @apply py-8 mb-10 md:py-24 md:mb-16 drop-shadow-lg;
  }
  .ubrus {
    background: url("/ubrus2.png");
    background-position: top left;
    background-size: 100px;
  }
}
