@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .bg-hotel {
    background: rgba(0, 0, 0, 0.08) url("/images/malba/malba2.webp");
    background-blend-mode: darken;
    background-position: center center;
    background-size: cover;
  }
  .odkaz {
    @apply text-gray-600 underline underline-offset-2 decoration-gray-400;
  }
  .hadvojka {
    @apply mx-auto text-3xl font-bold text-center md:text-5xl;
    /* color: #003631; */
  }
  .darkRow {
    @apply text-gray-800;
  }
  .lightRow {
    @apply text-gray-200;
  }
  .rowUbrus {
    background: url("/ubrus2.png");
    background-size: 100px !important;
  }
  .ubrus {
    background: url("/ubrus2.png");
    background-position: top left;
    background-size: 100px;
  }
}
html {
  /* scroll-behavior: smooth !important; */
}
.bg-kartaVyhod {
  background-color: transparent;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.8)
  );
  /* background: rgba(255, 255, 255, 0.1) url("/ubrus.png"); */
  /* background-position: top left; */
  /* background-size: 100px; */
}
.row {
  background-blend-mode: darken;
  background-position: center center !important;
  background-size: cover;
}
.test {
  background: rgba(0, 0, 0, 0.15) url("/images/malba/4.webp");
}
.test2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("/images/malba/2.webp");
  background-position: center center;
  background-size: cover;
}
.test3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("/images/test3.webp");
  background-position: center center;
  background-size: cover;
}
.test4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("/images/malba/3.webp");
  background-position: center center;
  background-size: cover;
}
.test5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("/images/4.webp");
  background-position: center center;
  background-size: cover;
}
.rowMalbenka {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("/images/malba/1.webp");
  background-position: center center;
  background-size: cover;
}
.header-sticky {
  position: fixed !important;
  z-index: 999 !important;
  width: 100%;
  top: 0px;
  background-color: white;
  scroll-padding: 150px !important;
}
