.swiper {
  max-width: 400px;
  height: 500px;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .swiper {
    max-width: 58vw;
    height: 350px;
  }
}
